allow init debugfs:dir mounton;
allow init debugfs:file write;
allow init persist_file:filesystem relabelto;
allow init self:socket { read write create ioctl };
allow init shell_data_file:fifo_file getattr;
allow init smem_log_device:chr_file { write ioctl };
allow init socket_device:sock_file { create setattr };
allow init sysfs_mpdecision:file getattr;
allow init thermal_device:chr_file write;
allow init alarm_device:chr_file write;
allow init device_latency:chr_file write;
allow init diag_device:chr_file { ioctl write };
allow init gpu_device:chr_file { ioctl write };
allow init ims_socket:sock_file write;
allow init mediaserver:fd use;
allow init modem_efs_partition_device:blk_file write;
allow init proc_startril:file getattr;
allow init qdsp_device:chr_file ioctl;
allow init rpmb_device:blk_file write;
allow init rtc_device:chr_file ioctl;
allow init self:capability sys_nice;
allow init self:netlink_kobject_uevent_socket { bind create read setopt };
allow init self:netlink_socket { bind create getattr setopt };
allow init self:socket bind;
allow init sensors_data_file:file append;
allow init sensors_device:chr_file { getattr ioctl };
allow init socket_device:sock_file { getattr write };
allow init ssd_device:blk_file write;
allow init system_data_file:file append;
allow init system_file:file { execmod execute_no_trans };
allow init tee_device:chr_file { ioctl write };
allow init uio_device:chr_file write;
allow init video_device:chr_file { ioctl write };
allow init surfaceflinger:fd use;