allow toolbox ctl_rildaemon_prop:property_service set;
allow toolbox init:unix_stream_socket connectto;
allow toolbox property_socket:sock_file write;
allow toolbox self:capability { chown fowner fsetid sys_module };
allow toolbox sysfs:file setattr;